/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS */
html, body {
  @apply font-sans;
}

:root {
  --background: #F0F1F6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F0F1F6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.swiper-button-next,
.swiper-button-prev {
  color: #7373ff; /* Set arrow color */
  transition: color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #7373ff; /* Darker shade for hover */
}

.spline-watermark{
  display: none !important;
}
